.formContainer{
  border-radius: 3px;
  min-height: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  .checkBox{
    display: flex;
    align-items: center;
    height: 100%;
    label{
      display: flex;
      align-items: center;
      margin-left: 6px;
      &:nth-child(1) {
        margin: 0;
      }
    }
  }
  .uploadFileBox{
    display: flex;
    align-items: center;
  }
  .formError {
    display: block;
    margin-top: 12px;
  }
}
