.container{
  border-radius: 3px;
  .tableCol{
    width: 100%;
    box-sizing: border-box;
  }
  .buttonBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .btnStyle{
      border-radius: 0;
    }
    .deletBtn{
      background-color: #dd0b0b;
    }
  }
  .addBtnBox{
    margin-top: 20px;
    .addBtn{
      border-radius: 0;
      padding: 5px 15px;
      box-sizing: content-box;
    }
  }
  .pageBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    button{
      border-radius: 2px;
    }
  }
}
